* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background: whitesmoke;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
}

.todo-app {
    /* height: 75vh; */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgb(128, 128, 128);
}

.todo-header {
    background-color: rgb(18, 4, 19);
    color: white;
    padding: 20px;
    text-align: center;
}

.todo-header h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.todo-header p {
    font-size: 0.9rem;
    opacity: 0.8;
}

.todo-input-container {
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.todo-input-container input {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    outline: none;
}

.todo-input-container button {
    background-color: rgb(18, 4, 19);
    font-size: 16px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.todo-input-container button:hover {
    background-color: rgb(85, 35, 87);
}

.filter-container {
    background-color: rgba(243, 243, 243, 0.425);
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.filter-btn {
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    background-color: white;
    cursor: pointer;
    font-size: 14px;
}

.filter-btn.active {
    background: #333;
    color: white;
    border-color: #333;
}

.todo-list {
    list-style: none;
    max-height: 400px;
    overflow: auto;

}

.todo-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(236, 236, 236, 0.719);

}

.todo-item:hover {
    background-color: rgba(241, 241, 241, 0.336);
}

.todo-checkbox {
    height: 16px;
    width: 16px;
    margin-right: 15px;
    cursor: pointer;
}

.todo-text {
    flex: 1;
    font-size: 16px;
    color: rgb(44, 44, 44);
}

.todo-item.checked .todo-text {
    opacity: 0.5;
    text-decoration: line-through;
}

.delete-btn {
    font-weight: lighter;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: none;
    color: rgb(160, 160, 160);
    font-size: 18px;
    border-radius: 4px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.todo-item:hover .delete-btn {
    opacity: 1;
}

.delete-btn:hover {
    color: #333;
    background-color: rgb(241, 241, 241);
}

.todo-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fafafa;
    border-top: 1px solid rgb(223, 223, 223);
}

.items-left {
    color: rgb(54, 54, 54);
    font-size: 14px;
}

.clear-completed {
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
}
.clear-completed:hover {
    background-color: rgba(233, 233, 233, 0.253);
}